// FONTS
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900&display=swap');

// VARIABLES

//Colours
$black: #242424;


html,
body {
  scroll-behavior: smooth;
  background: darken($black, 10%);
  font-family: 'Raleway', sans-serif;
  color: white;
  ::-webkit-scrollbar { width: 5px; }
  /* Handle */
  ::-webkit-scrollbar-thumb { background: #888; }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover { background: #555; }
}

.heading {
  height: 100vh;
  h1 { font-size: 3.5em; font-weight: 700; }
  h2 { font-size: 1.6em; font-weight: 700; }
  a {
    color: white;
    transition: text-shadow 0.2s;
    &:hover {
      text-shadow: 0 1px 1px rgba(255,255,255,0.50),
                0 2px 2px rgba(255,255,255,0.50),
                1px 4px 4px rgba(255,255,255,0.50),
                2px 8px 8px rgba(255,255,255,0.50);
    }
  }
  #arrow {
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
  }
}

.content {
  background: lighten($black, 0%);
  h1 { font-size: 3.2em; font-weight: 700; border-bottom: 3px white solid; display: inline-block;}
  h2 { font-size: 2.8em; font-weight: 700; }

  .item {
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),
              0 2px 2px rgba(0,0,0,0.12),
              0 4px 4px rgba(0,0,0,0.12),
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12),
              0 32px 32px rgba(0,0,0,0.12);
  }

}

.footer {
  p {
    font-size: 1.2em;
  }
  a {
    color: white;
    transition: text-shadow 0.2s;
    &:hover {
      text-shadow: 0 1px 1px rgba(255,255,255,0.50),
                0 2px 2px rgba(255,255,255,0.50),
                1px 4px 4px rgba(255,255,255,0.50),
                2px 8px 8px rgba(255,255,255,0.50);
    }
  }

}
