<div class="header mb-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1>Marvin John Agbuya</h1>
        <h2>Front End Developer</h2>
      </div>
      <div class="col-12">
        <nav class="my-3 d-flex align-items-center justify-content-stretch">
          <a href="./about.html">About</a>
          <a href="./" class="mx-4">Portfolio</a>
          <a href="./assets/downloads/Marvin-Resume.pdf" class="button">Download Resume</a>
        </nav>
      </div>
    </div>
  </div>
</div>
