<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="assets/js/p5.min.js"></script>
  <script type="text/javascript" src="assets/js/daily-cycles.js"></script>
  <script type="text/javascript" src="assets/js/amber-rain.js"></script>
  <script type="text/javascript" src="assets/js/watercolor.js"></script>
  <script type="text/javascript" src="assets/js/lines-and-easing.js"></script>
  <link href="assets/css/bootstrap.min.css" rel="stylesheet"></link>
  <link href="assets/css/main.css" rel="stylesheet"></link>
  <title>{{ page.title }} | Marvin John Agbuya's Portfolio</title>
  <style>
    body {
      margin: 0;
      padding: 0;
    }
  </style>
</head>
<body class="p-2 p-md-5">
  {% include header.html %}
  <div class="page-content">
    <div class="container-fluid">
      <div class="row pt-0 pt-lg-5">
        {{ page.content }}
      </div>
    </div>
  </div>
  <!-- <div class="footer p-4">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col text-center">
          <a href="" class="px-3 py-2 d-inline-block">Icon</a>
          <a href="" class="px-3 py-2 d-inline-block">Icon</a>
          <a href="" class="px-3 py-2 d-inline-block">Icon</a>
        </div>
      </div>
    </div>
  </div> -->
  <script src="assets/js/bootstrap.min.js"></script>
</body>
</html>
