<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="assets/js/p5.min.js"></script>
  <script type="text/javascript" src="assets/js/daily-cycles.js"></script>
  <script type="text/javascript" src="assets/js/amber-rain.js"></script>
  <script type="text/javascript" src="assets/js/watercolor.js"></script>
  <link href="assets/css/bootstrap.min.css" rel="stylesheet"></link>
  <link href="assets/css/main.css" rel="stylesheet"></link>
  <title>{{ page.title }} | Marvin John Agbuya's Portfolio</title>
  <style>
    body {
      margin: 0;
      padding: 0;
    }
  </style>
</head>
<body class="p-2 p-md-5">
  <div class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>Marvin John Agbuya</h1>
          <h2>Front End Developer</h2>
        </div>
        <div class="col-12">
          <nav class="my-3 d-flex align-items-center justify-content-stretch">
            <!-- <a href="">About</a>
            <a href="">Portfolio</a> -->
            <a href="./assets/downloads/Marvin-Resume.pdf" class="button">Download Resume</a>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="page-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          {{ page.content }}
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="footer p-4">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col text-center">
          <a href="" class="px-3 py-2 d-inline-block">Icon</a>
          <a href="" class="px-3 py-2 d-inline-block">Icon</a>
          <a href="" class="px-3 py-2 d-inline-block">Icon</a>
        </div>
      </div>
    </div>
  </div> -->
  <script src="assets/js/bootstrap.min.js"></script>
</body>
</html>
